/target/classes/Database.class
\target/classes

# Default ignored files
/workspace.xml
# Datasource local storage ignored files
/dataSources/
# Datasource local storage ignored files
/dataSources.local.xml
# Sql script
/src/main/java/Database/waterFord.sql
*.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/test-classes/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/test-classes/inputFiles.lst
